In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os




%matplotlib inline

adData = pd.read_csv('advertising_events.csv' )
adData

       338  656922288      baidu.com  2
0      153  648642796     google.com  2
1      244  656930942     google.com  2
2      229  646139341    youtube.com  3
3      160  637602195     google.com  3
4      470  632791541   facebook.com  2
...    ...        ...            ... ..
10335  685  647718363    youtube.com  0
10336  691  653540836  wikipedia.org  3
10337  635  653997960     google.com  1
10338  375  635790325      yahoo.com  3
10339  143  641259040      yahoo.com  1

[10340 rows x 4 columns]

In [19]:
import os
cwd=os.getcwd()
datadir='/'.join(cwd.split('/')[0:-1])+'/data'
print("Colum Names Are:")
print("")
for column_name in adData.columns.values:
    print(column_name)
print("")
print('Total #of Columns = {}'.format(len(adData)))

Colum Names Are:

338
656922288
baidu.com
2

Total #of Columns = 10340

In [35]:
adData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10340 entries, 0 to 10339
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   338        10340 non-null  int64
 1   656922288  10340 non-null  int64
 2   baidu.com  10340 non-null  object
 3   2          10340 non-null  int64
dtypes: int64(3), object(1)
memory usage: 323.2+ KB

In [48]:
df=pd.read_csv('advertising_events',
            names=['number1','website','integer','number2'])
df

Empty DataFrame
Columns: [number1, website, integer, number2]
Index: []

In [50]:
df['nubmer1']

KeyError: 'nubmer1'